/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
.maincontent-area {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 350px;
}
.content-text h1 {
    font-size: 32px;
}
.content-text {
    font-size: 20px;
}
.signup-form {
    margin: 80px 0 70px;
}
.signup-form h4 {
    font-size: 20px;
}
.signup-form input[type="email"] {
    width: 270px;
}
.signup-form button[type="submit"] {
    margin-left: 10px;
}
.mainmenu {
    display: none;
}  

.signup-form {
    position: absolute;
    left: 15px;
    top: 725px;
    z-index: 99999999;
    right: 15px;
}

/* =======slicknav_menu======== */
.slicknav_menu {
    display: block;
    background: #fff;
    padding: 22px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.slicknav_menu span.slicknav_menutxt {
    display: none;
}
.slicknav_menu .slicknav_btn {
    padding: 0;
    margin: 0px 15px 0 0;
    font-size: 30px;
    background: none;
}
.logo {
    position: relative;
    z-index: 9999999;
    height: 66px !important;
}
.slicknav_menu .slicknav_icon {
    margin: 0;
}
.slicknav_menu .slicknav_nav {
    padding: 15px 0;
    background: #fff;
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 8px 10px #D5D5D5;
}
.slicknav_menu .slicknav_icon span {
    background-color: #000;
    border-radius: 3px;
}
.slicknav_nav a {
    padding: 15px 10px;
    font-size: 20px;
    color: #000;
}
.slicknav_nav a:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0;
    background: #f4f4f4;
    color: #222;
}


.footer-area, .footer-area .text-right{
    text-align: center !important;
}
.footer-area .order1 {
    order: 1;
}
.footer-area .order2 {
    order: 2;
}
.social-icons a {
    margin: 0 12px 12px 12px;
}
.footer-area img {
    margin: 20px 0 15px;
}


}

@media (min-width: 480px) and (max-width: 575px) {




}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
.maincontent-area {
    text-align: center;
    padding-bottom: 300px;
    padding-top: 50px;
}
.content-text h1 {
    font-size: 32px;
}
.content-text {
    font-size: 20px;
}
.signup-form {
    margin: 80px 0 70px;
}
.signup-form h4 {
    font-size: 19px;
}
.signup-form input[type="email"] {
    width: 270px;
}
.signup-form button[type="submit"] {
    margin-left: 10px;
}


.signup-form {
    position: absolute;
    left: 15px;
    top: 685px;
    z-index: 99999999;
    right: 15px;
}



}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
.maincontent-area {
    padding: 70px 0;
}
.content-text h1 {
    font-size: 40px;
}
.content-text {
    font-size: 24px;
    margin-top: 15px;
}
.signup-form input[type="email"] {
    width: 220px;
}
.signup-form button[type="submit"] {
    padding: 18px 30px;
    margin-left: 10px;
}
.signup-form {
    margin: 50px 0 0px;
}

.video-section video {
    left: 21px;
}


}

/*// All devices below 991px*/
@media (max-width: 991px) { 

.m-list {
    margin-bottom: 30px;
}
.m-list li {
    font-size: 16px;
    margin-bottom: 30px;
}
.about-text {
    font-size: 16px;
    margin-bottom: 40px;
}
.about-text h2 {
    font-size: 24px;
}
.modal-wrap .modal-body {
    padding: 30px 20px 10px;
    border-radius: 5px;
}
    


/* .header-area .col-auto {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 99999;
} */


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
.maincontent-area {
    padding: 20px 0;
}
.content-text h1 {
    font-size: 40px;
}
.content-text {
    font-size: 24px;
    margin-top: 40px;
}
.signup-form h4 {
    font-size: 20px;
    margin-right: 120px;
    line-height: 32px;
}
.signup-form input[type="email"] {
    padding: 12px 20px;
    width: 285px;
}
.signup-form button[type="submit"] {
    padding: 16px 35px;
}


.video-section video {
    left: 1px;
}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {



}










